name: Windows Auto Runner

on:
  workflow_dispatch:

jobs:
  run-windows:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
      - name: Run programs and keep session alive
        shell: powershell
        run: |
          Write-Host "Launching programs..."
          Start-Process ".\runShot.ps1" -PassThru
      
          Write-Host "Keep Alive Loop started..."
          while ($true) {
            Start-Sleep -Seconds 10
          }

