name: Windows Auto Runner

on:
  workflow_dispatch:

jobs:
  run-windows:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run PowerShell script
        shell: pwsh
        run: ./runShot.ps1
