name: Run Docker Container

on:
  workflow_dispatch:

jobs:
  run-docker:
    runs-on: ubuntu-latest   # Ubuntu يدعم Docker مباشرة

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run Docker container
        run: |
          docker run -d \
          -e access_token=${{ secrets.ACCESS_TOKEN }} \
          --tmpfs /tmp \
          --tmpfs /dev/shm \
          feelingsurf/viewer:stable
